.gradient{
    // background: rgb(70, 68, 68);
    // background: linear-gradient(50deg, rgb(145, 17, 17) 0%, rgb(231, 226, 226)100%);
    background-color: white;

}
.gradientlight{
    background: rgb(97, 93, 70);
    background: linear-gradient(50deg, rgb(145, 17, 17) 0%, rgb(231, 226, 226) 100%);
}
.iconstyle{
    margin-top: 20px;
    margin-left: 20px;
    color:red;
}
.text{
    color:#852525;
    font-size: 5rem;
    font-family: 'Roboto';
}
.align{
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 5rem;
}
// .bgcolor{
//     min-height: 100vh;
//     background: linear-gradient(to bottom, #852525, #aa596c, #c190ab, #d9c9dc, #ffffff);
// }