.bgcolor{
    min-height: 100vh;
    // background-image: linear-gradient(to top, #852525, #aa596c, #c190ab, #d9c9dc, #ffffff);
}
:global(.MuiButton-root) {
  &.listmargin {
    margin-right: 16rem;
    color: #FFFF !important;
    background-color: #852525 !important;
    &:hover {
      color: #852525 !important;
      background-color: #eccccc !important;
      border-color: #852525 !important;
    }
  }
}
.tablehead{
    background-color: #dad8d8;
    
}



