@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@400;500&family=Roboto&display=swap');

.AppBar{
    background-color: #852525;
}
.logo{
    width: 100px;
    height: 60px;
}
.bg{
    height: 100%;
    width: 100%;
}
.logo{
    height: 50px;
    width: 150px;
    margin-left: 1rem;
}
.menuItem{
    background-color: #852525;
}
.goodday{
    align-items: center;
    text-align: center;
    // margin-top: 8rem;
    font-family: 'LatoBold';
    font-size: 50px;
    font-weight: 500;
}
.date{
    text-align: center;
    align-items: center;
    margin-top: 0rem;
    color:#852525;
    font-size: 40px;

}
.time{
    text-align: center;
    align-items: center;
    margin-top: 0rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    font-family: 'Lato', sans-serif;
    font-size: 150px;
    color:#852525
}
.button{
    align-items: center;
    text-align: center;
    background-color: black;
    color:#ffffff;
    font-size: 20px;
    width: 100;
    height: 50;
    margin-top: 3rem;
    // margin-bottom: .5rem;
    margin-right: 2rem;
    font-family: "LatoLight"

}
.tibutton{
    align-items: center;
    text-align: center;
    background-color: black;
    color:#ffffff;
    font-size: 20px;
    width: 300;
    height: 100;
    margin-top: 3rem;
    // margin-bottom: .5rem;
    margin-right: 1rem;
    font-family: "LatoLight"
}
.dbutton{
    align-items: center;
    text-align: center;

}
.top{
    margin-top: 8rem;
}