.bgcolor {
    min-height: 100vh;
    // background: linear-gradient(to top, #852525, #aa596c, #c190ab, #d9c9dc, #ffffff);
}

.longPaper {
  min-height: 600px;
  max-height: 1000px;
  overflow: auto;
}

:global(.MuiTableHead-root) {
    &.tablehead {
        background-color: #dad8d8 !important;
    }
}

:global(.MuiButton-root) {
    &.listmargin {
        margin-left: 1rem;
        padding: .3rem;
        text-transform: capitalize !important;
        color: #852525 !important;
        border-color: #852525 !important;
        background-color: #ffffff !important;

        &:hover {
            color: #852525 !important;
            background-color: #eccccc !important;
            border-color: #ffffff !important;
        }
    }
}

:global(.MuiInputBase-root) {
    &.searchmargin {
        border-radius: .5rem !important;
    }
}