.bgcolor{
    min-height: 100vh;
    background: linear-gradient(to top, #852525, #aa596c, #c190ab, #d9c9dc, #ffffff);
}
.searchmargin{
    border-radius: .5rem;
}
.listmargin{
    margin-left: 1rem;
    text-transform: capitalize !important;
    color: #FFFF;
    background-color: #852525;
    &:hover {
        color:#852525;
        background-color: #eccccc;
        border-color: #852525;
    }
}
.tablehead{
    background-color: #dad8d8;
    
}



