@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@400;500&family=Roboto&display=swap');

.AppBar{
    background-color: #852525;
}
.logo{
    width: 100px;
    height: 60px;
}
.bg{
    height: 100%;
    width: 100%;
}
.logo{
    height: 50px;
    width: 150px;
    margin-left: 1rem;
}
.menuItem{
    background-color: #852525;
}
.fade {
  background-color: #FFFF;
  transition: background-color 1s;
  color: #852525;
}

.fade:hover {
  background-color: #852525;
  color: #FFFF;
  border-radius: 1px;
  
}

.fade:focus,
.fade:active {
  background-color: white;
  transition: none;
}
.icons{
  color: #852525;
}
.bgcolor{
  background-image: linear-gradient(to top, #852525, #a24b5a, #b7758d, #c79fb9, #d9c9dc, #e3dbe9, #f0edf5, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
   