.gButton{
    margin-top: 30px;
    position: absolute;
    width: 436px;
    height: 45px;
    left: 250px;
    top: 745px;
    }
    .paperStyle{
      display: flex;
      padding :20;
      height:70vh;
      width:280;
      margin: 20px auto;
    }
    .avatarStyle{
      background-color:#1bbd7e;
    }
    
    .FormButton {
      background: #852525;
      &:hover {
        color:#FFFF;
        background-color: #852525;
        border-color: #852525;
    }
      text-transform: capitalize !important;
  
    }
    .Font{
      font-family: 'Lato';
    }
    .TextField{
    margin-bottom: 1rem;
    border-radius: 4rem;
    }
    
    .GoogleButton{
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-top: 1rem;
      align-items: center;
    }
    .image{
      width: 800px;
      height:500px;
    }
    .labels{
      margin-right: 65%;
      
    }
    